#nav-bar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
#pricing{
    display: flex;
    justify-content: space-between;
}
@media screen and (min-width: 992px) {   
    .greater-than-large {
    color: red;
    }
}
img{
    width: 20vw;
    height: 6vh;
}
nav{
    margin-left: 80vw;
    padding: 2vw;
    color: black;
}
.nav-link{
    padding: 5px;
    color: black;
}
form{
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
}
#howitworks{
    margin-left: auto;
    margin-right: auto;
}